
h1 {
    font-family: sans-serif;
    text-align: center;
  }
  form {
    display: grid;
    grid-template-columns: 1fr 20px 1fr;
    grid-template-areas:
      "firstValue sign secondValue"
      "symb symb symb"
      "ans ans ans";
    grid-gap: 5px;
    grid-auto-rows: 1fr;
    margin: auto;
    width: 450px;
    background: #fafafa;
    border: 1px solid #ccc;
    padding: 15px;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  }
  input {
    outline: none;
    border: none;
  }
  .symbols {grid-area: symb}
  #firstValue {
    grid-area: firstValue;
    font-family: sans-serif;
    color: #737070;
    padding-left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ebebeb;
    border-radius: 5px;
  }
  #secondValue {
    grid-area: secondValue;
    font-family: sans-serif;
    color: #737070;
    padding-left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ebebeb;
    border-radius: 5px;
  }
  #sign {grid-area: sign}
  #ans {
    grid-area: ans;
    background: #eee;
  }
  .symbols {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
    grid-auto-rows: 30px;
    grid-gap: 2.5px;
    margin: 1px;
  }
  .symbols input {
    background: #dadce0;
    color: #202124;
    border: 1px solid #dadce0;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
  }
  #sign {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1.5rem;
  }
  
  #ans{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align:center;
    color: #333;
    font-family: sans-serif;
    font-size: 16px;
  }
  
  input::placeholder {
    color: #ddd;
  }